h1{color:#FF00BF;font-family:helvetical;font-size: 40px;}
body{background-color:#F8E0EC;}
p{color: #B40431; font-family: helvetica; font-size: 16px;}
ol{color: #8A0808; font-family: helvetica;  font-size: 16px;}
a {color:#FF4000;font-family: centuy gothic; font-size: 14px; text-decoration-line:}
a;hover {color:#FF0000}
